:root {
  --black: #141414;
  --white: #fefefe;
  --transparent: #ffffffe8;
  --purple: #e63cdd59;
  --orange: #f9b02b;
  --blue: #3545f7;
  --green: #73f665;
  --gray: #606066;
  --lightGray: #d6d6d659;
  --fontSize-xxs: clamp(0.75rem, 2vw, 1rem);
  --fontSize-xs: clamp(0.85rem, 2.5vw, 1.125rem);
  --fontSize-sm: clamp(1rem, 3vw, 1.25rem);
  --fontSize-md: clamp(1.35rem, 3.5vw, 1.5rem);
  --fontSize-lg: clamp(1.5rem, 4vw, 2rem);
  --fontSize-xl: clamp(2rem, 6vw, 3rem);
  --fontSize-2xl: clamp(3rem, 9vw, 4.5rem);
  --fontStack: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--black);
  background-color: var(--white);
  font-family: var(--fontStack);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--black);
  gap: 1rem;
  box-shadow: 0px 1px 5px 0px var(--black);
  .header__logo {
    width: 55px;
  }
  .header__menu-icon {
    display: none;
    cursor: pointer;
    width: 40px;
    z-index: 3;
  }
}

.nav {
  display: flex;
  flex-grow: 1;
  padding-inline: 1rem;
  .nav__list {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    .nav__list-item {
      font-weight: 700;
      .nav__list-link {
        text-decoration: none;
        color: var(--black);
      }
    }
  }
}

.btn-wrapper {
  display: flex;
  gap: 1.5rem;
  .btn {
    cursor: pointer;
    font-size: var(--fontSize-xxs);
    font-family: var(--fontStack);
    background-color: var(--white);
    border: 1px solid var(--black);
    padding: 0.5rem 1.25rem;
    border-radius: 20px;
    text-align: center;
    font-weight: 500;
    transition: box-shadow 150ms ease;
    &.btn--black {
      color: var(--white);
      background-color: var(--black);
    }
    &.btn--purple {
      background-color: var(--purple);
    }
    &.btn--medium {
      font-size: var(--fontSize-md);
      padding: 0.75rem 1.5rem;
    }
    &:hover {
      box-shadow: 0px 0px 2px 0px var(--black);
    }
  }
}

.info-bubble {
  position: relative;
  display: flex;
  flex-direction: column;
  width: min(400px, 100%);
  height: min(250px, 50%);
  background-color: var(--white);
  border: 1px solid var(--black);
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 0px var(--black);
  gap: 0.5rem;
  &.info-bubble--purple {
    background-color: var(--purple);
    height: min(175px, 50%);
  }
  &.info-bubble--blue {
    background-color: var(--blue);
    color: var(--white);
    height: min(175px, 50%);
  }
  .info-bubble--before {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    color: var(--white);
    top: 0;
    left: -7.5%;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    box-shadow: 0px 0px 5px 0px var(--black);
    z-index: -1;
    transition: all 300ms ease-out;
  }
  &:hover .info-bubble--before {
    left: -50%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  gap: 2rem;
  padding: 2rem 4rem;
  .grid__main {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: fit-content;
    .grid__central-title {
      line-height: 1.15;
      font-size: var(--fontSize-2xl);
      font-weight: 700;
      text-wrap: balance;
    }
    .grid__central-txt {
      color: var(--gray);
      line-height: 1.25;
      font-size: var(--fontSize-xs);
      width: 80%;
      padding-bottom: 2rem;
      text-wrap: balance;
    }
  }
  .grid__clients {
    grid-area: 2 / 1 / 3 / 2; 
    width: 50%;
    padding-block: 2rem;
    .grid__clients-title {
      font-size: var(--fontSize-sm);
      font-weight: 700;
      border-bottom: 1px solid var(--black);
      padding-bottom: 1rem;
    }
    .grid__clients-wrapper {
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;
      width: 100%;
      .grid__clients-logo {
        width: 65px;
      }
    }
  }
  .grid__aside {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
    .grid__aside-title {
      font-size: var(--fontSize-sm);
      font-weight: 700;
      &.grid__aside-title--border {
        padding: 0.5rem 1rem;
        background-color: var(--purple);
        border-radius: 40px;
      }
    }
    .grid__aside-txt {
      font-size: var(--fontSize-xxs);
      font-weight: 500;
      &.grid__aside-txt--border {
        padding: 0.5rem 1rem;
        color: var(--gray);
        background-color: var(--lightGray);
        border-radius: 40px;
      }
      &.grid__aside-txt--green {
        font-size: var(--fontSize-sm);
        color: var(--green);
      }
      &.grid__aside-txt--oversize {
        color: var(--black);
        font-weight: 700;
        font-size: var(--fontSize-xl);
      }
      .grid__aside-txt--orange {
        font-weight: 700;
        font-size: var(--fontSize-md);
        color: var(--orange);
      }
      .grid__aside-txt--ticking {
        animation: ticking 1.5s linear infinite;
      }
    }
    .grid__aside-wrapper {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding-block: 0.5rem;
      &.wrapper--spacing {
        justify-content: space-between;
        padding-right: 1rem;
      }
    }
    .grid__aside-user {
      position: absolute;
      border-radius: 50%;
      top: 50%;
      right: 40%;
      transform: translate(100%,-50%);
      width: 100px;
      box-shadow: 0px 0px 5px 0px var(--black);
    }
    .grid__aside-label {
      cursor: pointer;
      display: block;
      padding-top: 0.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--gray);
      font-weight: 500;
    }
    .grid__aside-input {
      cursor: pointer;
      margin-right: 0.75rem;
      &:checked {
        accent-color: var(--green);
      }
    }
    .grid__aside-icon {
      padding-top: 0.5rem;
      width: min(45px, 17.5%);
    }
  }
}

.scroller {
  margin: 0 auto;
  width: calc(75% - 2rem);
  padding-block: 2rem;
  overflow: clip;
  mask: linear-gradient(90deg, transparent, var(--white) 20%, var(--white) 80%, transparent);
  .scroller__inner {
    display: flex;
    width: max-content;
    gap: 1rem;
    padding-block: 2rem;
    animation: scroll 40s linear infinite;
  }
  .scroller__list {
    list-style: none;
    padding-inline: 0;
    .scroller__list-item {
      width: 210px;
      box-shadow: 0px 0px 10px 0px var(--black);
      font-weight: 500;
      background-color: var(--white);
      text-align: center;
      border: 1px solid var(--black);
      padding: 1.5rem;
      &.scroller__list-item--blue {
        color: var(--white);
        background-color: var(--blue);
      }
      &.scroller__list-item--purple {
        background-color: var(--purple);
      }
      &.scroller__list-item--green {
        background-color: var(--green);
      }
    }
  }
}

@keyframes scroll {
  to {
    transform: translate(-100%);
  }
}

@keyframes ticking {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 2rem 6rem 2rem;
  .pricing__plans {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    .pricing__plans-wrapper {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      border: 2px solid var(--white);
      box-shadow: 0px 0px 10px 0px var(--black);
      border-radius: 20px;
      width: min(400px, 100%);
      background-color: var(--black);
      &.pricing__plans-wrapper--white {
      background-color: var(--white);
      border: 2px solid var(--black);
      transition: all 350ms ease-in-out;
      transform: scale(1.05);
      }
    }
  }
  .pricing__box {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-block: 1rem;;
    &.pricing__box--column {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
    }
    .pricing__box-title {
      font-size: var(--fontSize-xl);
      font-weight: 700;
      text-wrap: balance;
      &.pricing__box-title--undersize {
        font-size: var(--fontSize-lg);
      }
      &.pricing__box-title--white {
        color: var(--white);
      }
    }
    .pricing__box-subtitle {
      font-size: var(--fontSize-xs);
      color: var(--gray);
      text-wrap: balance;
      line-height: 1.25;
    }
    .pricing__box-txt {
      font-size: var(--fontSize-sm);
      color: var(--gray);
      &.pricing__box-txt--oversize {
      color: var(--white);
      font-size: var(--fontSize-xl);
      font-weight: 700;
      }
      &.pricing__box-txt--black {
        color: var(--black);
      }
    }
    .pricing__box-btn {
      cursor: pointer;
      text-align: center;
      width: 100%;
      font-family: var(--fontStack);
      font-size: var(--fontSize-xs);
      font-weight: 500;
      color: var(--white);
      background-color: var(--lightGray);
      border: 1px solid var(--gray);
      border-radius: 10px;
      padding: 0.75rem 1.25rem;
      margin-top: 2rem;
      &.pricing__box-btn--black {
        background-color: var(--black);
      }
    }    
  }
}

.footer {
  width: 100%;
  max-width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-top: 1px solid var(--black);
  box-shadow: 0px 1px 5px 0px var(--black);
  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 1.5rem;
    padding: 1rem 4rem 2rem 4rem;
    border-bottom: 1px solid var(--gray);
  }
  .footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1.5rem;
    padding: 0 4rem 2rem 4rem;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    &.footer__wrapper--row {
      flex-direction: row;
      padding: 0;
    }
  }
  .footer__title {
    font-size: var(--fontSize-md);
    font-weight: 500;
    text-align: left;
  }
  .footer__txt {
    width: 50%;
    font-size: var(--fontSize-xxs);
    text-wrap: balance;
    line-height: 1.25;
    &.footer__txt--bold {
      font-weight: 700;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem;
  &.list--row {
    flex-direction: row;
  }
  .list__item {
    color: var(--gray);
    list-style-image: url("../img/check-circle.svg");
    &.list__item--footer {
      font-size: var(--fontSize-xxs);
      font-weight: 500;
      color: var(--black);
      list-style: none;
    }
  }
}

@media screen and (max-width: 60em) {
  .header {
    .header__menu-icon {
      display: block;
      &.header__menu-icon--toggle {
        box-shadow: 0px 0px 10px 2px var(--black);
        border-radius: 20px;
        transition: all 500ms ease;
      }
    }
  }
  .info-bubble {
    &.info-bubble--before:hover {
      left: 0;
    }
  }
  .menu {
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100dvh;
    background-color: var(--white);
    z-index: 2;
    border-radius: 50px;
    transition: all 400ms ease-in-out;
    .menu__list {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      .menu__list-item {
        font-size: var(--fontSize-xl);
        font-weight: 700;
        padding-bottom: 2rem;
        .menu__list-link {
          color: var(--black);
          text-decoration: none;
        }
      }
    }
    &.menu--toggle {
      top: 0;
      border-radius: 0px;
      background-color: var(--transparent);
    }
  }
  .nav {
    display: none;
  }
  .btn-wrapper {
    .btn {
      &.btn--medium {
        font-size: var(--fontSize-sm);
        padding-block: 0.5rem;
      }
    }
    &.btn-wrapper--header {
      display: none;
    }
  }
}

@media screen and (max-width: 75.5em) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.4fr 1fr;
    place-items: center;
    .grid__main {
      align-items: center;
      text-align: center;
    }
    .grid__clients {
      grid-area: 2 / 1 / 3 / 2;
      width: 100%;
      .grid__clients-title {
        font-size: var(--fontSize-md);
        text-align: center;
      }
      .grid__clients-wrapper {
        justify-content: center;
      }
    }
    .grid__aside {
      grid-area: 3 / 1 / 4 / 2;
    }
  }
}

@media (hover:hover) {
  .info-bubble--before {
    &:hover .info-bubble--before {
      left: -50%;
    }
  }
}